@using MvcTicariOtomasyon.Models.Sınıflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:20px;">

    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>İşlem Yap</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.KategoriID</td>
            <td>@item.KategoriAd</td>
            <td>
                <a class="btn btn-info btn-sm" href="/Kategori/KategoriGuncelle/@item.KategoriID">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Düzenle
                </a>
                <a class="btn btn-danger btn-sm" href="/Kategori/KategoriSil/@item.KategoriID">
                    <i class="fas fa-trash">
                    </i>
                    Sil
                </a>

            </td>
        </tr>

    }

</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new {sayfa}), 
    new PagedListRenderOptions
    {
        LiElementClasses = new List<string>
        { "page-link"}
    })
<a href="/Kategori/KategoriEkle/" class="btn btn-primary">Yeni Kategori Ekle</a>



